/* @import must be at top of file, otherwise fonts will not work */
@import url("//hello.myfonts.net/count/396833");
@font-face {font-family: 'HelveticaLTWXX-BlackCond';src: url('../fonts/396833_0_0.eot');src: url('../fonts/396833_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/396833_0_0.woff2') format('woff2'),url('../fonts/396833_0_0.woff') format('woff'),url('../fonts/396833_0_0.ttf') format('truetype');}
@font-face {font-family: 'HelveticaNowText-Regular';src: url('../fonts/396833_1_0.eot');src: url('../fonts/396833_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/396833_1_0.woff2') format('woff2'),url('../fonts/396833_1_0.woff') format('woff'),url('../fonts/396833_1_0.ttf') format('truetype');}
@font-face {font-family: 'HelveticaNowText-Bold';src: url('../fonts/396833_2_0.eot');src: url('../fonts/396833_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/396833_2_0.woff2') format('woff2'),url('../fonts/396833_2_0.woff') format('woff'),url('../fonts/396833_2_0.ttf') format('truetype');}

body {
    font-family: HelveticaNowText-Regular;
}

strong, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: HelveticaNowText-Bold;
}

.rh-hallandia-newslist--newsitem:nth-child(odd) {
    background: #EFE7DA;
}

.rh-hallandia-newslist--newsitem:nth-child(even) {
    background: #FBF9F5;
}

.rh-pillbutton {
    /* Visuellt */
    border-radius: 50%;
    padding: 1.5ex;

    /* Typografi */
    color: black;
    text-decoration: none;
}

.rh-pillbutton--grey {
    background: #FA3CB4;
    border: 1px solid #FA3CB4;
}

.rh-pillbutton--pink {
    background: #D3D3D2;
    border: 1px solid #D3D3D2;
}

.rh-pillbutton--yellow {
    background: #FCF800;
    border: 1px solid #FCF800;
}

.rh-pillbutton--yellow:hover,.rh-pillbutton--yellow:focus {
    background: #FCF800;
    border: 1px solid #FA3CB4;
}

.rh-article h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  padding-top: 0.5ex;
  padding-bottom: 0.5ex;
}

.rh-article {
    line-height: 1.4;
}

.rh-article ul {
    list-style-type: disc;
    padding-left: 2ex;
    line-height: 1.37em;
}
.rh-article ol {
    list-style-type: decimal;
    padding-left: 2ex;
    line-height: 1.37em;
}

.rh-article img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  display: block;
  background: #fff;
  position: absolute;
  overflow: hidden;
  text-align: center;
  height: 0;
}

.jump-to-content {
    display: block;
    background: #fff;
    position: absolute;
    overflow: hidden;
    text-align: center;
    height: 0;
}

.jump-to-content:focus {
    position: initial;
    background: #fcaf15;
    padding: 0.5rem;
    height: auto;
    color: black;
}

/* Hotfix */
.rh-contact-list__item {
    display: block; }
    @media (min-width: 768px) {
      .rh-contact-list__item {
        display: inline-block;
        margin-right: 2em; } }
  
  .rh-round-button {
    background-color: #FA3CB4;
    border-color: #FA3CB4;
    font-weight: normal; }
    .rh-round-button:hover, .rh-round-button:active {
      background-color: #ffffff;
      color: #FA3CB4; }
  
  /* Mobile dropdown menu - Displays only in SM mode - <= 768px*/
  .rh-menu-dropdown {
    /* Positionering */
    position: relative;
    top: 0;
    z-index: 30;
    width: 100%;
    min-width: 20em;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; }
    .rh-menu-dropdown__header {
      height: 5em;
      overflow: hidden;
      -webkit-transition: height .3s;
      /* Older Safari */
      transition: height .3s ease-in-out;
      padding: 0 0.75em 0 0.4em;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      background-color: #EEE7DB; }
      .rh-menu-dropdown__header-logo-container {
        width: 85%;
        max-width: 20.625em;
        max-height: 4.5em;
        display: block; }
      .rh-menu-dropdown__header-logo {
        width: 100%;
        display: block; }
      .rh-menu-dropdown__header--minimize {
        height: 0 !important; }
      .rh-menu-dropdown__header--shadow {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); }
    .rh-menu-dropdown__body {
      background-color: #FBF9F4;
      width: 100%; }
    .rh-menu-dropdown__text {
      font-size: 1.125em;
      margin: 0;
      line-height: 3em; }
      .rh-menu-dropdown__text--active {
        font-weight: bold; }
    .rh-menu-dropdown__icon-menu {
      display: block;
      margin: 0.5625em 0 0 0; }
    .rh-menu-dropdown__icon-item {
      display: block;
      margin: 0.05em 1.875em 0 0.03125em; }
    .rh-menu-dropdown__menu-round-button {
      padding: 0 .55em;
      height: 2.1875em;
      width: 2.1875em;
      border: 0.0625em solid #FA3CB4;
      text-align: center;
      background-color: #FA3CB4;
      color: #fff;
      cursor: pointer; }
      .rh-menu-dropdown__menu-round-button:hover, .rh-menu-dropdown__menu-round-button:active {
        background-color: #FA3CB4;
        color: #fff; }
      .rh-menu-dropdown__menu-round-button--open {
        background-color: #fff;
        color: #FA3CB4; }
        .rh-menu-dropdown__menu-round-button--open:hover, .rh-menu-dropdown__menu-round-button--open:active {
          background-color: #fff;
          color: #FA3CB4; }
    .rh-menu-dropdown__item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      min-height: 3.5em;
      padding: 0 0 0 1em;
      /* Boder style */
      border-style: solid;
      border-color: #d3d3d2;
      border-width: 0 0 0.0625em 0;
      background-color: #FBF9F4; }
      .rh-menu-dropdown__item-round-button {
        background-color: #FA3CB4;
        color: #fff;
        border: 1px solid #FA3CB4;
        margin: 0 1em 0 0;
        width: 1.667em;
        height: 1.667em;
        cursor: pointer; }
        .rh-menu-dropdown__item-round-button:hover, .rh-menu-dropdown__item-round-button:active {
          background-color: #FA3CB4;
          color: #fff; }
        .rh-menu-dropdown__item-round-button--open {
          background-color: #fff;
          color: #FA3CB4;
          border: 0.0625em solid #FA3CB4; }
          .rh-menu-dropdown__item-round-button--open:hover, .rh-menu-dropdown__item-round-button--open:active {
            color: #FA3CB4;
            background-color: #fff; }
      .rh-menu-dropdown__item__sub-container {
        display: block; }
      .rh-menu-dropdown__item__sub-item {
        background-color: #EEE7DB; }
      .rh-menu-dropdown__item--active {
        font-weight: bold;
        background-color: #FA3CB4; }
        .rh-menu-dropdown__item--active .rh-menu-dropdown__item-round-button {
          color: #FA3CB4;
          background-color: #fff; }
        .rh-menu-dropdown__item--active .rh-menu-dropdown__footer-text {
          color: #000; }
    .rh-menu-dropdown__footer {
      min-height: 5.625em; }
      .rh-menu-dropdown__footer-text {
        color: #575757; }
    .rh-menu-dropdown__spacing-after--active {
      height: 5em; }
      @media (min-width: 768px) {
        .rh-menu-dropdown__spacing-after--active {
          display: none; } }
    .rh-menu-dropdown--open {
      overflow-y: scroll;
      overscroll-behavior: contain;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3); }
  
  /* Utilities */
  .rh-position-fixed {
    position: fixed; }
  
  .rh-display-only-sm {
    display: block; }
    @media (min-width: 768px) {
      .rh-display-only-sm {
        display: none; } }
  
  .rh-display--show {
    display: block; }
  
  .rh-display--none {
    display: none; }
  
  .rh-display--hide {
    display: hidden; }
  
  .rh-pl-05 {
    padding-left: 0.3125em; }
  
  .rh-pl-1 {
    padding-left: 0.625em; }
  
  .rh-pl-15 {
    padding-left: 0.9375em; }
  
  .rh-pl-2 {
    padding-left: 1.25em; }
  
  .rh-pl-25 {
    padding-left: 1.5625em; }
  
  .rh-pl-3 {
    padding-left: 1.875em; }
  
  .rh-pl-35 {
    padding-left: 2.1875em; }
  
  .rh-pl-4 {
    padding-left: 2.5em; }
  
  .rh-pl-45 {
    padding-left: 2.8125em; }
  
  .rh-pl-5 {
    padding-left: 3.125em; }
  
  .rh-pl-55 {
    padding-left: 3.4375em; }
  
  .rh-pl-6 {
    padding-left: 3.75em; }
  
  .rh-pl-65 {
    padding-left: 4.0625em; }
  
  .rh-pl-7 {
    padding-left: 4.375em; }
  
  .rh-pl-75 {
    padding-left: 4.6875em; }
  
  .rh-pl-8 {
    padding-left: 5em; }
  
  .rh-pl-85 {
    padding-left: 5.3125em; }
  
  .rh-pl-9 {
    padding-left: 5.625em; }
  
  .rh-pl-95 {
    padding-left: 5.9375em; }
  
  .rh-pl-10 {
    padding-left: 6.25em; }
  
  .rh-noscroll {
    overflow: hidden;
    -webkit-overflow-scrolling: auto;
    height: 100% !important; }
  